body{
    font-family: "raleway", sans-serif!important ;
}
.tabs-left > .nav-tabs {
    border-bottom: 0;
  }
  
  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }
  
  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }
  
  .tabs-left > .nav-tabs > li {
    float: none;
  }
  
  .tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
  }
  
  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
  }
  
  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
  }
  
  .tabs-left > .nav-tabs > li > a:hover,
  .tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  }
  
  .tabs-left > .nav-tabs .active > a,
  .tabs-left > .nav-tabs .active > a:hover,
  .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
  }
  .container{
      max-width: 100%!important;
  }
  .lines{
    position: absolute!important;
    color: #009444;
    top: 45%;
    
  }
  .lines-anchor{
      position: relative;
  }
  .fastimg{
      width: 50px;
      height: 70px;
  }
  .dm{
      max-width: 300px!important;
      left: -20px!important;
  }
  .mh{
      max-height: 100px ;
  }
  .iconimg{
      width: 26px;
      padding-right: 5px;
  }
  .dropfont{
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid grey;
     

  }
  .sidedashicon{
      width: 35px;
  }
  .bb{
      border-bottom: 1px solid lightgrey;
  }
  .dashtext{
      font-family: "raleway", sans-serif!important;
      font-size: 20px; 
      color: #009444;
      font-weight: 200;
  }
  .dashsearch{
      border: none;
      outline: none;
      height: 40px;
      width: 380px;
      font-size: 15px;
      
  }
  #dashsearchdiv{
      border: 1px solid  rgba(0, 148, 68, 0.5);
      overflow: hidden;
      color: rgba(0, 148, 68, 0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;
  }
  ::placeholder{
    color: rgba(0, 148, 68, 0.5);
    font-size: 15px;
  }

  .bbg{
     border-bottom: 1px solid rgba(0, 148, 68, 0.5);
     overflow: hidden;
  }
  .filter{
    height: 40px;
    border: 1px solid rgba(0, 148, 68, 0.5)!important;
    width: 100px;
    font-weight: lighter;
    border-radius: 5px;
    font-size: 15px;
}
.cursor:hover{
    cursor: pointer;
}
.imgback{
    background: #F2F2F2;
}
.redcolor{
    color: red;
}
.backgreen{
    background: rgba(0, 148, 68, 0.5)!important;
    color: white;
    font-size: 13px;
    box-shadow: 0!important;
    border: none!important;
}
.backyellow{
    background: #FF931C;
    color: white;
    font-size: 13px;
    box-shadow: 0!important;
    border: none!important;
}
table{
  border-collapse: collapse;
  overflow: hidden;
}
table th{
  background: #F2F2F2;
  padding: 10px 68px;
  font-size: 16px;

}
td,th{
  border: 1px solid #F2F2F2;
}
.imgcircle{
  width: 100px;
  height: 100px;
  background: #097AE2;
  position: relative;
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
}
table td p{
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}
.whiteno{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;

}
.board{
  width: 150px;
  position: relative;
  border-radius: 0px 20px 20px 0px!important;
  top: 60px;
  margin-left: 73px;
}
.board a{
  color: #009444;
  font-size: 16px;
  display: block;
  font-weight: bolder;
  padding: 15px 5px;
}
.board a:hover{
  text-decoration: none;
}